<header>
	<div class="row header">
		<div class="header small-11 large-10 small-centered large-centered columns">
			<h1>
				<span>Sense Appeal</span><br/>
				<span>Coffee</span><br/>
				<span>Roasters</span>
			</h1>
			<nav>
					<%= link_to "Coffees", coffees_path %>
					<%= link_to "Menus", menus_path %>
					<%= link_to "About", about_path %>
			</nav>
		</div>
	</div>
</header>

<section class="statement">
	<div class="row">
		<div class="statement small-11 large-10 small-centered large-centered columns">
			<h2 class="statement">
				<span id="statement-line-1" class="slabtext">WE ARE A CREATIVE</span>
				<span id="statement-line-2" class="slabtext">COFFEE + FOOD LAB</span>
				<span id="statement-line-3" class="slabtext">WE EXPERIMENT</span>
				<span id="statement-line-4" class="slabtext">WE EVOLVE</span>
				<span id="statement-line-5" class="slabtext">WE MAKE COFFEE + FOOD</span>
				<span id="statement-line-6" class="slabtext">TASTE BETTER</span>
			</h2>
		</div>
	</div>
</section>

<section class="basic-info">
	<div class="row">
		<div id="basic-info-wrap" class="small-9 large-10 small-centered large-centered columns">
			<div class="row">

				<div id="office-wholesale-info" class="large-5 columns">
					<div class="row">
						<a href="/offices" id="offices" class="basicinfo location large-12 columns">
							<h3 class="offices">Offices</h3>
							<p class="basicinfo">
								We can supply your office with our local craft roasts, show you how to pull a perfect shot, and everything in between.
							</p>
						</a>
						<a href="/wholesale" id="wholesale" class="basicinfo wholesale large-12 columns">
							<h3 class="wholesale">Wholesale</h3>
							<p class="basicinfo">
								We offer coffee programs, catering, technical services, and training to businesses, restaurants, and hotels.
							</p>
						</a>
					</div>
				</div>

				<div id="location-hours-info" class="large-5 columns">

					<div id="spadina">
						<h4 class="locations">
							<span class="slabtext">
							96 Spadina Ave
							</span>
						</h4>
						<h5 class="numbers">416 203 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7:30AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
						<div id="location-map">
							<!-- TODO: MAP GOES HERE -->
						</div>
					</div>

					<div id="lakeshore">
						<h4 class="locations">
							<span class="slabtext">
							2143 Lakeshore Blvd
						</h4>
						<h5 class="numbers">416 203 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
					</div>

				</div> <!-- end location-hours-info -->
			</div> <!-- end row -->
		</div> <!-- end basic-info-wrap -->
	</div> <!-- end row -->
</section>

<section class="coffees">
 	<div class="row coffees">
 		<div id="coffee-blocks" class="coffees small-11 large-10 small-centered large-centered columns">
 			
 			<h2 class="coffees">Coffees</h2>

 			<% @roasts.each do |roast| %>
				<li>
					<h4><%= link_to roast.name, coffee_path(roast) %></h4>
					<h6>Origin</h6>
					<p><%= roast.origin %></p>
					<h6>Description</h6>
					<p><%= roast.description %></p>
				</li>
			<% end %>
 				
 			<!-- <div>
 				<h4>Gn</h4>
 				<h6>Origin</h6>
 				<p>Minas Gerais, Brazil</p>
 				<h6>Description</h6>
 				<p>Lorem Ipsum</p>
 			</div>
 			<div>
 				<h4>Name</h4>
 				<h6>Origin</h6>
 				<p>Lorem ipsum</p>
 				<p>Lorem ipsum</p>
 				<h6>Description</h6>
 				<p>Lorem ipsum</p>
 			</div>
 			<div>
 				<h4>Name</h4>
 				<h6>Origin</h6>
 				<p>Lorem ipsum</p>
 				<p>Lorem ipsum</p>
 			</div>
 			<div>
 				<h4>Name</h4>
 				<h6>Origin</h6>
 				<p>Lorem ipsum</p>
 				<p>Lorem ipsum</p>
 				<h6>Description</h6>
 				<p>Lorem ipsum</p>
 				<p>SUPER LONG</p>
 				<p>SUPER LONG</p>
 			</div>
 			<div>
 				<h4>Name</h4>
 				<h6>Origin</h6>
 				<p>Lorem ipsum</p>
 				<p>Lorem ipsum</p>
 				<h6>Description</h6>
 				<p>Lorem ipsum</p>
 			</div>
 			<div>
 				<h4>Name</h4>
 				<h6>Origin</h6>
 				<p>Lorem ipsum</p>
 				<p>Lorem ipsum</p>
 				<h6>Description</h6>
 				<p>Lorem ipsum</p>
 			</div> -->
 	</div>
 </section>
