<header class="home">
	<div class="row header">
		<div class="header small-11 large-10 small-centered columns">
			<h1>
				<span>Sense Appeal</span><br/>
				<span>Coffee</span><br/>
				<span>Roasters</span>
			</h1>
			<nav>
					<h4 class="header-links-small"><%= link_to "Locations", anchor: "basic-info" %></h4>
					<h4 class="header-links-small"><%= link_to "Coffees", anchor: "coffees" %></h4>
					<h4 class="header-links-small"><%= link_to "Food", anchor: "food" %></h4>
			</nav>
		</div>
	</div>
</header>

<section class="statement">
	<div class="row">
		<div class="statement small-11 large-10 small-centered columns">
			<h2 class="statement">
				<span id="statement-line-1" class="slabtext">WE ARE A CREATIVE</span>
				<span id="statement-line-2" class="slabtext">COFFEE + FOOD LAB</span>
				<span id="statement-line-3" class="slabtext">WE EXPERIMENT</span>
				<span id="statement-line-4" class="slabtext">WE EVOLVE</span>
				<span id="statement-line-5" class="slabtext">WE MAKE COFFEE + FOOD</span>
				<span id="statement-line-6" class="slabtext">TASTE BETTER</span>
			</h2>
		</div>
	</div>
</section>

<section class="basic-info" id="basic-info" data-stellar-background-ratio="1.5">
	<div class="row">
		<div id="basic-info-wrap" class="small-11 large-10 small-centered columns">
			<div class="row">

				<div id="location-hours-info-small" class="large-5 show-for-small columns">

					<a id="spadina" class="blocks" href="#">
						<h4 class="locations">
							96 Spadina Ave
						</h4>
						<h5 class="numbers">(416) 203 - 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7:30AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
						<div class="clear"></div>
					</a>

					<a id="lakeshore" class="blocks" href="#">
						<h4 class="locations">
							2143 Lakeshore Blvd
						</h4>
						<h5 class="numbers">(416) 203 - 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
					</a>

				</div> <!-- end location-hours-info-small -->

				<div id="office-wholesale-info" class="large-5 columns">
					<div class="row">
						<a href="/offices" id="offices" class="large-12 columns">
							<h3 class="offices">Offices</h3>
							<p>
								We can supply your office with our local craft roasts, show you how to pull a perfect shot, and everything in between.
							</p>
						</a>
						<a href="/wholesale" id="wholesale" class="large-12 columns">
							<h3 class="wholesale">Wholesale</h3>
							<p>
								We offer coffee programs, catering, technical services, and training to businesses, restaurants, and hotels.
							</p>
						</a>
					</div>
				</div> <!-- end office-wholesale-info -->

				<div id="location-hours-info-large" class="large-6 hide-for-small columns">

					<a id="spadina" class="blocks" href="#">
						<h4 class="locations">
							96 Spadina Ave
						</h4>
						<h5 class="numbers">(416) 203 - 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7:30AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
						<div class="clear"></div>
					</a>

					<a id="lakeshore" class="blocks" href="#">
						<h4 class="locations">
							2143 Lakeshore Blvd
						</h4>
						<h5 class="numbers">(416) 203 - 0023</h4>
						<h6 class="hours">
							MON - FRI<span class="float-right">7AM - 6PM</span>
						</h6>
						<div class="clear"></div>
						<h6 class="hours">
							SAT - SUN<span class="float-right">9AM - 5PM</span>
						</h6>
					</a>

				</div> <!-- end location-hours-info-large -->
			</div> <!-- end row -->
		</div> <!-- end basic-info-wrap -->
	</div> <!-- end row -->
</section>

<section class="coffees" id="coffees">
 	<div class="row coffees">
 		<div id="coffee-blocks" class="coffees small-11 large-10 small-centered columns">
 			
 			<h2 class="coffees">Coffees</h2>

 			<% @roasts.each do |roast| %>
				<li class="blocks">
					<%= link_to coffee_path(roast) do %>
						<h3 class="coffee-names"><%= roast.name %></h2>
						<h6>Origin</h6>
						<p><%= roast.origin %></p>
						<h6>Description</h6>
						<p><%= roast.description %></p>
					<% end %>
				</li>
			<% end %>
 		</div>
 	</div>
</section>

<section class="menus" id="food">
 	<div class="row menus">
 		<div id="menu-blocks" class="coffees small-11 large-10 small-centered columns">
 			
 			<h2 class="menus">Food</h2>

 			<% @menus.each do |menu| %>
				<li class="blocks">
					<%= link_to menu_path(menu) do %>
						<h3 class="menu-titles"><%= menu.title %></h2>
						<h6>Section</h6>
						<p>Bla bla bla</p>
					<% end %>
				</li>
			<% end %>
	</div>
</section>

<section class="philosophy">
	<div class="row">
		<div class="small-11 large-10 small-centered columns">

			<h2 class="philosophy">Philosophy</h2>
			
			<ul>
				<li>
					<h3 class="philosophy">Be Scientific</h3>
					<p class="philosophy">Anything we do at Sense Appeal, from baking our pastries to roasting our coffee has been researched extensively. We ground ourselves in peer-reviewed articles in scientific journals, understanding the molecular chemistry that goes on to create what we serve. Based on this research, we conduct our own experiments to see what we can discover.</p>
				</li>
				<li>
					<h3 class="philosophy">Be Sustainable</h3>
					<p class="philosophy">There’s no way we can live separately from the environment. We need to work alongside nature so that we can ensure nutritious food is available not just to our generations but those to come. That means being as nice to the planet as we can. Working with sustainable farms to source our produce, meats and coffees while being as green as we can be.</p>
				</li>
				<li>
					<h3 class="philosophy">Be In Motion</h3>
					<p class="philosophy">Stagnation is death. To be constantly creating, you need to be in motion. What we do today might be proven less efficient tomorrow. We’re always open to your thoughts, comments and suggestions. We will always be redesigning. We will always be in search of new ideas, cuisines and techniques.</p>
				</li>
			</ul>

		</div>
	</div>
</section>

<%= render "partials/footer" %>