<h2>Edit Roast</h2>
<h3><%= @roast.name %></h3>
<h4><%= @roast.origin %></h4>
<p><%= @roast.description %></p>

<% if @roast.errors.any? %>
	<div id="error-explanations">
		<h2><%= pluralize(@roast.errors.count, "Error") %> Showing Up</h2>

		<ul>
			<% product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= render 'form' %>

<%= link_to "Back To All Coffees", coffees_path %>