<div class="row">
	<div class="coffees-page small-11 large-10 small-centered columns">
		<h1><%= link_to root_path do %>	
			Sense Appeal<br/>Coffee<br/>Roasters
			<% end %>
		</h1>

		<h2>Coffees</h2>

		<ul>
			<% @roasts.each do |roast| %>
				<li class="coffees-page">
					<h3><%= link_to roast.name, coffee_path(roast) %></h3>
					<h4><%= roast.origin %></h4>
					<p><%= roast.description %></p>
					<%= link_to "Edit", edit_coffee_path(roast) %>
					<br>
					<%= link_to "Delete", coffee_path(roast), :confirm => "Sure you want to delete this coffee?", :method => :delete %>
				</li>
			<% end %>
		</ul>

		<%= link_to "Add A New Roast", new_coffee_path %>

	</div>
</div>