<%= render "partials/header" %>

<section class="content-pages">
	<div class="row">

		<div class="coffees-page small-11 large-10 small-centered columns">

			<div>
				<h3 class="coffee-names"><%= @roast.name %></h3>
				<h6>Origin</h6>
				<p><%= @roast.origin %></p>
				<h6>Description</h6>
				<p><%= @roast.description %></p>
			</div>

		</div>
	</div>
</section>

<%= render "partials/footer" %>